%h2 Stats
- @challenges.each do |challenge|
  .box-container
    .challenge
      #{challenge.name}
    .box-right
      .progress-bar
        .status(data-dones="#{challenge.dones.size}" data-quota="#{challenge.quota}")
    .box-right
      (#{challenge.dones.size} / #{challenge.quota})

%h2 Add a track record
%ul 
  = form_for @done do |f| 
    = f.collection_select :challenge_id, @challenges, :id, :name
    = f.date_select :done_date, use_month_numbers: true, discard_year: true, order: [:month, :day]
    = f.submit

= link_to 'Try Something New!', new_challenge_path

