%h2 Progress
%table
  %tr
    %th
  - @challenges.each do |challenge|
    %tr
      %td= challenge.name
      %td #{challenge.dones.size} / #{challenge.quota}
      %td= link_to sanitize("<i class=\"fa fa-desktop\"></i>"), challenge
      %td= link_to sanitize("<i class=\"fa fa-edit\"></i>"), edit_challenge_path(challenge)
      %td= link_to sanitize("<i class=\"fa fa-trash-o\"></i>"), challenge, :method => :delete, :data => { :confirm => 'Are you sure?' }

#progressbar

%img#logo{src: "http://www.wings.msn.to/image/wings.jpg"}

#datepicker

%h2 Proceed your challenges
%ul 
  = form_for @done do |f| 
    = f.collection_select :challenge_id, @challenges, :id, :name
    = f.date_select :done_date, use_month_numbers: true, discard_year: true, order: [:month, :day]
    = f.submit

= link_to 'Try New Challenge', new_challenge_path

