%h2 Progress

- @challenges.each do |challenge|
  %ul
    %li= challenge.name
    %li= challenge.dones.size
    %li= challenge.dones.size
  .progressbar(rel="#{challenge.dones.size}")

%h2 Proceed your challenges
%ul 
  = form_for @done do |f| 
    = f.collection_select :challenge_id, @challenges, :id, :name
    = f.date_select :done_date, use_month_numbers: true, discard_year: true, order: [:month, :day]
    = f.submit

= link_to 'Try New Challenge', new_challenge_path

