%p#notice= notice

%p
  %b Name:
  = @challenge.name
%p
  %b Status:
  = @challenge.status
%p
  %b Start date:
  = @challenge.start_date
%p
  %b End date:
  = @challenge.end_date
%p
  %b Quota:
  = @challenge.quota
%p
  %b Reward:
  = @challenge.reward

= link_to 'Edit', edit_challenge_path(@challenge)
\|
= link_to 'Back', challenges_path
